/* Master-Version */

body {
	background-color: white;
}
iframe {
	width: 100%
	height: 480px;
}
p {
	color: white;
	font-size: 20px;
}
a {
	text-decoration: none;
}

.clear{
	clear: both;
}
/* Page elements */

#container {
	margin: 0px auto;
	width: 940px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-top: 8px solid #9bb297;;
}

#container img {
	margin: 0px auto;
}
#container iframe {
	max-width: 940px;
}
#container video {
	z-index: 2;
	clear: both;
	float: none;
}
#logo{
	float: left;
	margin-top:20px;
}
#mainContent{
	border: 1px solid #000;
	border-width: 1px 0;
	margin-top: 140px;
	margin-bottom: 30px
}
#leftContent{
	float: left;
	width: 65%;
}

#rightContent{
	float: right;
	width:35%;
}

nav{	
	margin: 0;
	padding: 0;
}
nav ul{
	float: right;
	margin-top:55px;
}
nav ul li{
	padding-left: 18px;
	display: inline;
	background-color:#9bb297;
-moz-border-radius: 20px;
   -webkit-border-radius: 20px;
    border-radius: 20px;
    padding:20px 15px;
    margin-right:5px;

}
nav ul li a{
	list-style: none;
    color: white;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
}

footer{
	margin: 0: 
	padding: 0;
	border-top: 8px solid #9bb297;

}
footer ul li{
	display: inline;
}

footer ul li a{
	padding-right: 7px;
	color: #000;
	font-size: 12px;
}
#box {
	color: white;
	float: right;
	top:0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	margin: 10px 30px 0;
}
#box img {
	z-index: 20 !important;
	max-height: 230px;
}

#box2, #vietnam_map {
	color: white;
	float: right;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	margin: -35px 50px 0;
}

#box2 img {
	max-height: 230px;
	z-index: 1 !important;
}

#button{
	margin:60px 0 0 450px;
	position: absolute;
	z-index: 10;
	}
	
#button a{
	color: #fff;
	background: #9cb398;
	background: -webkit-gradient(linear, left top, left bottom, from(#c1ebbb), to(#677764));
	background: -moz-linear-gradient(top, #c1ebbb 0%, #677764 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ebbb', endColorstr='##677764');
    -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}


#button2{
	margin:120px 0 0 450px;
	position: absolute;
	z-index: 10;
	
	}
#button2 a{
	color: #fff;
	background: #9cb398;
	background: -webkit-gradient(linear, left top, left bottom, from(#c1ebbb), to(#677764));
	background: -moz-linear-gradient(top, #c1ebbb 0%, #677764 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ebbb', endColorstr='##677764');
    -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

#timeline{
	margin:60px 0 0 30px;
	}
#timeline a{
	color: #fff;
	background: #9cb398;
	background: -webkit-gradient(linear, left top, left bottom, from(#c1ebbb), to(#677764));
	background: -moz-linear-gradient(top, #c1ebbb 0%, #677764 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1ebbb', endColorstr='##677764');
    -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

#arrow img{
float: right;
margin-top: 30px;}


#video{
	margin: 20px 0;
	width: 600px;
	z-index: 1;
	position: relative;
}

#video2, #video3{
margin: 20px 5px;
}

#feed{
	margin: 20px;
	width: 200px;
	height: 600px;
	position: relative;
}

/* Some classes */

.black {
	background-color: black;
}
.verdana {
	font-family: verdana;
}
.move_down {
	margin-top: 200px;
}

.hiddenvideo {
	display: none;
}

.showvideo {
display: block; !important
}

/* Fun effects */

.scale {
	transform: scale(2,2);
	-ms-transform: scale(2,2); /* IE 9 */
	-webkit-transform: scale(2,2); /* Safari and Chrome */
	-o-transform: scale(2,2); /* Opera */
	-moz-transform: scale(2,2); /* Firefox */
}
.translate {
	transform: translate(50px,100px);
	-ms-transform: translate(50px,100px); /* IE 9 */
	-webkit-transform: translate(50px,100px); /* Safari and Chrome */
	-o-transform: translate(50px,100px); /* Opera */
	-moz-transform: translate(50px,100px); /* Firefox */
}
.skew {
	transform: skew(30deg,20deg);
	-ms-transform: skew(30deg,20deg); /* IE 9 */
	-webkit-transform: skew(30deg,20deg); /* Safari and Chrome */
	-o-transform: skew(30deg,20deg); /* Opera */
	-moz-transform: skew(30deg,20deg); /* Firefox */
}
.flip {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg); /* Safari and Chrome */
	-moz-transform: rotateY(360deg); /* Firefox */
}
